<!DOCTYPE html>
<html>
  <head> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
    <style type="text/css"> 
        html,body{ 
            height:100%; 
            padding:0; 
            margin:0; 
        } 
        .oc{ 
            display:table; 
            width:100%; 
            height:100%; } 
        .ic{ 
            display:table-cell;
            vertical-align:middle; 
            height:100%; } 
        form{
            display:block;
            background:#ccc; 
            border:2px solid red; 
            padding:0 0 25px 0;
            width:500px; 
            font-family:helvetica,sans-serif;
            font-size:14px; margin:10px auto; 
        } 
        .fel,.fer,.fec{ 
            text-align:center; 
            width:350px; 
            margin:0 auto; 
            padding:10px; 
        } 
        .fel{ text-align:left; } 
        .fer{ text-align:right; } 
        h1{ 
            font-weight:bold; 
            font-size:21px;
            margin:0; 
            padding:20px 10px; 
            text-align:center; 
        } 
        p{ 
            margin:15px auto;
            width:75%; 
            text-align:left; 
        } 
        ul{ 
            margin:15px auto;
            width:75%; 
        } 
        ul2{ 
            margin:12px auto; 
            font-size: 12px; 
            width:75%; 
        } 
        h2{ 
            margin:25px 10px; 
            font-weight:bold; 
            text-align:center; 
        } 
        label,h2{ font-size:16px; } 
        .logo{ 
            background:#eee center 15px url(http://portal.uonbi.ac.ke:8080/XX/YY/ZZ/CI/FFPGOEPFMEPGHGPG) no-repeat; 
            padding-top:80px; 
        } 
    </style>
    <title> Firewall Authentication </title> 
  </head> 
  <body> 
    <div class="oc"> 
        <div class="ic"> 
            <form action="/" method="post"> 
                <input type="hidden" name="4Tredir" value="http://www.msftconnecttest.com/redirect"> 
                <input type="hidden" name="magic" value="001c79ed381776f5"> 
                <h1 class="logo"> Authentication Required </h1> 
                <ul> Dear user, </ul> 
                <ul> Authenticated </ul> 
                <ul> 
                     
                    <br> 
                    <br> 
                    <ul2> 
                        <a href="http://wiki.uonbi.ac.ke/doku.php/by_using_the_uon_network_you_have_agreed_with_the_following" target="_blank"> By using the UoN network, you have agreed with UoN ICT Policy 
                            <ul2> </ul2>
                        </a>
                        <a href="https://ict.uonbi.ac.ke/index.php/basic-page/service-charter" target="_blank"> Read the ICT Service Charter </a>
                    </ul2>
                    <a href="https://ict.uonbi.ac.ke/index.php/basic-page/service-charter" target="_blank"> </a>
                </ul>
                <a href="https://ict.uonbi.ac.ke/index.php/basic-page/service-charter" target="_blank">  </a>
            </form>
        </div>
        <a href="https://ict.uonbi.ac.ke/index.php/basic-page/service-charter" target="_blank"> </a>
    </div>
    <a href="https://ict.uonbi.ac.ke/index.php/basic-page/service-charter" target="_blank">  
</a></body>
</html>
